<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        .green {
            color: #009900;
            font-weight: bold;
        }

        .red {
            color: #990000;
            font-weight: bold;
        }
    </style>
</head>
<body>
<a href="/admin/">Admin</a>
<br>
<br>
Ruble = <b>{{ ruble }}</b>
<br>
<br>
{% for pack in funds %}
{{ pack.pack }} <span class="{{ pack.style }}">{{ pack.change }}</span>
<br>
{% endfor %}
<div class="{{ res_style }}">{{ result }}</div>
</body>
</html>